*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body, html{
    overflow-x: hidden;
}
nav{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    
    
    
}
header{
    display: flex;
    position: fixed;
    background-color: rgb(206, 206, 206);
    z-index: 1;
    width: 100%;
}
main{
    margin-top: 58px;
}
#checkbox-menu,
.toggle{
    display: none;
}
#header-img{
    width: 4%;
    height: auto;
    margin: 5px auto;
}
.menu{
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5px;
}
.menu li a{
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;

}
.menu li a:hover{
    background-color: #ffcc01;
    border-radius: 3px;
}
.menu li a.logo{
    font-size: 25px;
    margin-right: 240px;
}
.menu li a.contacts{
    margin-right: 100px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
   
}

.intro{
    margin-top: 25px;
    display: flex;
    justify-content:flex-end;
}
.intro-img{
    background-image: url(img/apr.jpg);
    width: 965px;
    height: 640px;
    
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.intro .intro-text{
    position: relative;
    font-size: 62px;
    left: -50px;
    top: 220px;
}
.intro .intro-contacts{
    background-color: #ffcc01;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    margin-top: auto;
    margin-left: auto;

}
.intro-contacts i{
    color:#fff;
    margin-right: 30px;
}
.intro-contacts p{
    font-size: 18px;
   
}
.stats{
    display: flex;
    margin-top: 130px;
}
.stats-line{
    display: flex;
}
.stats-text{
    padding: 40px;
}
.stats-text h2{
    font-size: 40px;
    margin-bottom: 70px;
}
.stats-text p{
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}
.square{
    width: 200px;
    height: 200px;
    background-color:#f6f5f4;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square{
    font-size: 40px;
    color:#ffcc01;
    margin-bottom: 15px;
}
.stats-text{
    font-size: 14px;
}
.apartments{
    background-color:#f6f5f4;
    padding: 60px 0;
}
.apart h2{
    margin-bottom: 85px;
    font-size: 40px;
}
.card{
    max-width: 348px;
    background:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-container{
    padding: 25px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    margin-top:  25px;
}
.card-info .money{
    font-size: 18px;
    color: #ffcc01;
}
.card-info i{
    margin-right: 8px;
}
.form{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}
#how-it-works{
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}
.form{
    max-width: 400px;
    margin: 10px auto;
    display: flex;
}
.form input{
padding: 10px;
border-radius: 3px;
}
.btn{
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: linear;
    border-radius: 3px;
    border: none;
}
input[type=email]{
    
    border: 1px solid grey;

    
}
.btn:hover{
    background-color:#ffcc01;

}



@media screen and (max-width: 765px){
    header{
        width: 100%;
    }
    .toggle{
        clear: both;
        display:block;
        text-align:center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: black;
        background-color:#ffcc01;
    }
    .toggle:hover{
        background-color: #d3a900;
    }
    #header-img{
        display: none;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0px;
        transition: height .3s;
      
    }
    .menu li{
        display: flex;
        align-self: center;
        justify-content: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
       
    }
    .menu li a{
        width: 95%;
        
        text-align: center;
      
      
    }
    .menu li a.logo{
        font-size: 21px;
        margin-right: 0px;
    }
    .menu li a.contacts{
        margin-right: 0px;
    }
    .intro .intro-text{
        position: relative;
        font-size: 40px;
        left: 20px;
        top: 220px;
    }
    .intro .intro-contacts{
      
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
        margin-top: auto;
       margin-left: 0;
    
    }
    .intro-contacts p{
        font-size: 12px;
       
    }
    .stats{
        margin-top: 0;
        flex-direction: column;
    }
    .stats-text{
        padding: 12px;
    }
    .stats-text h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .stats-text p{
        margin-top: 5px;
        font-size: 14px;
        line-height: 18px;
    }
    .square{
        height: 140px;
        width: 140px;
    }

   
}
@media screen and (max-width: 1100px){
    .menu li a.logo{
       
        margin-right: auto;
    }
    .menu li a.contacts{
        margin-right: auto;
    }
    .intro .intro-text{

        left: 20px;   
    }
}
